/* Golobal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: #fdfdfd;
    line-height: 1.6;
}

.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header style */
header{
    /* background-color: #0e3959; */
    background: #0e3959;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index:1000;
}

/* navigation style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500px;
}

nav a:hover{
    color: yellow;
}

#home{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.home-content{
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}

.home-content h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

.home-content p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.home-content .btn{
    background-color: yellow;
    color: #0e3959;
    padding: 12px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600px;
    transition: 0.3s;
}

#destinations{
    padding: 80px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.destinations-heading{
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #0e3959;
}

.destinations-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    justify-content: center;
}

.destinations-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.destinations-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.destinations-card h3{
    padding: 15px;
}

.packages{
    padding: 80px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.packages-container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.packages-heading{
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #0e3959;
}

.packages-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    justify-content: center;
}

.packages-card{
    height: 350px;
    box-shadow: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.packages-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.packages p{
    margin-bottom: 15px;
}

.packages-btn{
    background-color: rgb(14, 57, 89);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 200px;
    transition: 0.3s;

}

.form-container{
    text-align: center;
    justify-content: center;
}

/* Testimonials*/
#testimonials {
  padding: 60px 0;
}

#testimonials-heading{
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0e3959;
    text-align: center;
}

.testimonials-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.testimonial{
    background-color: white;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
}
.testimonial i {
  color: #ffca28;
  margin-bottom: 10px;
}
.testimonial p {
  font-style: italic;
  margin-bottom: 10px;
}
.testimonial h4 {
  color: #0e3959;
  margin-top: 10px;
}

/* Booking Form*/

#book-form-section{
    padding: 60px 0;
    background-color: #f8f9fa;
}

#book-form-section h2{
    text-align: center;
    font-size: 2rem;
    color: #0e3959;
    margin-bottom: 30px;
}

.book-desc{
    text-align: center;
    margin-bottom: 20px;
}

form{
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button{
    background: #0e3959;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover{
    background: yellow;
    color: #0e3959;
}

/* Footer */
footer{
    background-color: #0e3959;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px
}

footer h3 {
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul a {
  color: #fff;
  text-decoration: none;
}
footer iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 200px;
}
.footer-bottom {
  text-align: center;
  padding: 15px 0;
  background: #092940;
  margin-top: 20px;
  font-size: 0.9rem;
}